/*reset */
*{
	margin: 0;
	padding: 0;
}
h1,h2,h3,h4,h5,h6{
	font-weight: normal;

}
hr{
	border:1px solid #eee;
}
a{
	text-decoration: none;
}
ul,li{
	list-style: none;
}
html,body{
	position: relative;
	height:100%;
	font-family: "微软雅黑";
	background: #fff;
}
body{
	background: #eee;
	font-size: 16px;
	color: #fff;
	overflow: hidden;
	width: 100%;
}
/*common*/
.comWidth{
	width:995px;
	margin: 0 auto;
}

.reg_btn{
	width: 178px;
	height: 43px;
	line-height: 43px;
	text-align: center;
	color: #fff;
	background: #0b6fef;
	border: none;
	border-radius: 10px;
	font-size: 20px;
	margin: 45px auto;
	display: block;
	margin-bottom: 0px;
}
.one .reg_btn{
	background: #31d884;
}
.section .comWidth{
	position: relative;
}
/*pop*/
.pop{
	position: fixed;
	height: 316px;
	width: 188px;
	background: url(../img/serviceBox4.png) center center no-repeat;
	top: 190px;
	right: -150px;
	z-index: 101;
	transition:right 0.6s;
}
.pop:hover{
	right:0;
}
/*dot nav*/
aside b{
	display: none;
}
aside ul{
	width: 20px;
	position: fixed;
	top:50%;
	right: 40px;
	transform:translate(0,-50%);
	z-index: 100;
}
aside a{
	display: inline-block;
	height: 20px;
	width: 20px;
	background: url(../img/dot_small.png) center center no-repeat;
	cursor: pointer;
}
aside a.on{
	background-image: url(../img/dot_big.png);
}
/*main content*/
.frame{
	height: 993px;
	width: 1280px;
}
.one{
	background: url(../img/proBg1.jpg) center bottom no-repeat;
	background-size: cover;
}
.oheader{
	height:0.616rem;
	width:100%;
	background: #fff;
	height: 60px;
}
.oheader img:nth-child(1){
	height:50px;
	width: 100px;
	float: left;
	margin-top: 5px;
}
.oheader img:nth-child(2){
	height: 27px;
	width: 266px;
	float: right;
	margin-top: 18px;
}
.ocontent{
	height: 100%;
	width: 100%;
	position: relative;
	top: 0px;
	left: 0px;
}
.ocontent h1{
	font-weight: normal;
	margin-top: 130px;
	text-align: center;
	font-size: 45px;
}
.ocontent h3{
	font-weight: normal;
	color: rgba(255,255,255,0.5);
	text-align: center;

}



.two{
	background: url(../img/proBg2.jpg) center bottom no-repeat;
	background-size: cover;
	position: relative;
}
.two .comWidth{
	position: relative;
	height: 100%;
}
.t-header{
	text-align: center;
	color: #000;
	position: relative;
	top: 0;
	left: 0;
}
.t-header h3{
	font-weight: normal;
	padding-top: 86px;
	font-size: 40px;
}
.t-header h5{
	font-weight: normal;
	padding-top:15px;
	padding-bottom: 37px;
}
.t-computer{
	width: 474px;
	height:252px;
	background: url(../img/computer.png) center center no-repeat;
	background-size: cover;
	margin: 0 auto;
	overflow: hidden;
	padding:9px 13px 108px 13px; 
}
.t-c-box{
	width: 474px;
	height:257px;
	overflow: hidden;
	position: relative;
}
.t-c-content{
	width: 474px;
	height: 1414px;
	background: url(../img/content_pc.png) center 0 no-repeat;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	transition:top 3s;
}
.t-c-content:hover{
	top:-1150px;
}

.t-phone{
	position: absolute;
	width: 122px;
	height: 189px;
	background: url(../img/iphone.png) center 0 no-repeat;
	background-size: cover;
	top: 370px;
	left: 165px;
	overflow: hidden;
	padding-top: 24px;
	padding-left: 4px;
	/*padding:24px 28px 25px 7px; */
}
.t-p-box{
	width: 97px;
	height: 165px;
	overflow: hidden;
	position: relative;
/*	border: 1px solid black;*/
}
.t-p-content{
	width: 97px;
	height: 973px;
	background: url(../img/content_phone2.png) center 0 no-repeat;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	transition:top 3s;
}
.t-p-content:hover{
	top:-808px;
}
.t-wechat{
	position: absolute;
	width: 180px;
	height: 157px;
	background: url(../img/WeChat.png) center 0 no-repeat;
	background-size: cover;
	top:445px;
	left: 680px;
}
.t-btn{
	position: relative;
	left: 0;
	right: 0;
}


.e-container{
	position: relative;
	width: 100%;
	height: 100%;
}
.e-header{
	width:340px;
	height: 95px;
	position: relative;
	top: 0;
	left: 0;
	color: black;
	margin-top:87px;
	margin-left: 50%;
	transform:translate(-50%,0);
}
.e-header img{
	width: 40px;
	height: 80px;
}
.e-h-right{
	margin-left: 35px;
	text-align: center;
}
.e-header h3{
	font-size: 36px;
	font-weight: normal;

}
.e-header h5{
	font-size: 10px;
	line-height: 50px;
}
.e-h-left{
	float: left;
}
.e-h-right{
	float: left;
}
.e-show{
	width: 1158px;
	height: 550px;
	margin-left: 85px;
}
.e-show li{
	float: left;
}
.e-show li{
	margin-bottom: 60px;
	transition:transform 0.2s;
}
.e-show li:hover{
	transform:scale(1.05,1.05);
}
.e-show li:nth-child(2),
.e-show li:nth-child(5){
	margin: 60px;
	margin-top: 0px;
}
.e-show li img{
	width: 340px;
	height: 213px;
}
.e-more{
	height: 20px;

}
.e-more a{
	width: 50px;
	height: 20px;
	font-size: 12px;
	line-height: 20px;
	color: blue;
	float: right;
	background: url(../img/monitors_more.png) left center no-repeat;
	background-size: 10px;
	padding-left: 13px;
	margin-right: 30px;
	cursor: pointer;

}
.e-btn{
	position: relative;
	top:0;
	left: 0;
}

/*seperate*/
.seven{
	background: url(../img/proBg7.jpg) center 0 no-repeat;
	background-size: cover;
	position: relative;
}
.seven .e-header{
	color: white;
	width: 360px;
	height: 40px;
	/*font-size: 40px;*/
	font-family: "宋体"
}
.footer{
	width:100%;
	height: 70px;
	position: absolute;
	bottom: 90px;/*问题之处*/
	left: 0;
	background-color: #0345a5;
	color: rgba(255,255,255,0.5);
	line-height: 70px;
}
.footer span{
	font-size: 12px;
}
.footer a{
	font-size: 12px;
	color: rgba(255,255,255,0.5);
	
}

.e-s-content{
	overflow: hidden;
	padding-top: 100px;
	padding-left: 50px


}
.e-s-c-item{
	width: 260px;
	height: 305px;
	background-color: rgba(255,255,255,0.1);
	border: 1px solid rgba(255,255,255,0);
	text-align: center;
	float: left;
}
.e-s-c-item img{
	display: block;
	margin: 40px auto;
}
.e-s-c-item h5{
	font-size: 25px;
}
.e-s-c-item h6{
	font-size: 15px;
	margin:10px 25px;
	line-height: 25px;
}
.e-s-c-arrow{
	width: 115px;
	height: 300px;
	float: left;
	background: url(../img/icon_arrow.png) center center no-repeat;
}
.seven .reg_btn{
	background: #31d884;
}
.f-plice{
	padding-left: 25px;
	background: url(../img/beianIcon.png) left center no-repeat;
	margin-left: 30px;
}
.f-iTrust img{
	display: inline-block;
	vertical-align: middle;
	margin-left: 30px;

}
.three,.four,.five,.six{
	background: white;
}
