#navigation{
	width:784px;
	padding:8px;
	margin:8px auto;
	background: #3b5998;
	height: 18px;
}
#navigation ul li{
	float: left;
	margin-right: 14px;
	position: relative;
	z-index: 3;
}
#navigation ul li a{
	display: block;
	padding: 0 8px;
	background: #eee;
	font-weight: 700;
}
#navigation ul li ul{
	background-color: #88c366;
	position:absolute;
	width:80px;
	overflow: hidden;
	display: none;
}
#navigation ul li:hover ul{
	background-color: #88c366;
	position: absolute;
	width: 100px;
	display: block;
	top: 20px;
	left: 0;
}
#navigation ul li ul li{
	border-bottom: 1px solid #bbb;
	text-align: left;
	width: 100%;
}